@model configurator_shop.Models.ViewModels.PasswordChangeViewModel

@{
    ViewBag.Title = "Смена пароля";
    Layout = "_Layout";
}

<h1 class="text-center text-wrap mt-5 mb-3">Смена пароля</h1>

@if ((bool)ViewData["Post"])
{
    <h3 class="text-muted text-center text-wrap">@ViewData["Text"]</h3>
}
else
{
    @using (Html.BeginForm("PasswordChange", "Authorization", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-2 col-lg-3"></div>
            <div class="col-12 col-md-8 col-lg-6 d-flex flex-column">
                <p class="text-wrap text-center mb-3">Придумайте новый пароль</p>
                <div class="validation invalid-feedback visible" asp-validation-summary="ModelOnly"></div>
                <div class="mb-3">
                    @Html.DisplayFor(m => m.Email)
                    @Html.HiddenFor(m => m.Email)
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control rounded-pill" placeholder="">
                    <div class="fs-sm text-danger">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" class="form-control rounded-pill" placeholder="">
                    <div class="fs-sm text-danger">
                        @Html.ValidationMessageFor(m => m.ConfirmPassword)
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg mt-3 px-5 mx-auto">Сменить пароль</button>
            </div>
            <div class="col-md-2 col-lg-3"></div>
        </div>
    }
}