@model dynamic

@{
    ViewBag.Title = "Выбрать категорию для добавления товара";
    Layout = "_Layout";
}

<h1 class="text-center text-wrap mt-5">Выберите категорию для добавления товара</h1>

<div class="container my-5">
    <div class="row gap-5">
        <!--<div class="mx-auto ms-md-auto me-md-3 border border-4 rounded border-dark px-5 pt-4 pb-2 d-flex flex-column justify-content-center align-items-center fit"> -->
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "CPU"})">
            <!--<a alt="" href="#" class="position-absolute h-100 w-100" tabindex="1"></a>-->
            <div class="mt-5 mb-2">
                <img alt="Процессор" src="~/static-pic/pc-parts/cpu.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Процессоры</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "GPU"})">
            <div class="mt-5 mb-2">
                <img alt="Видеокарта" src="~/static-pic/pc-parts/gpu.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Видеокарты</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "Motherboard"})">
            <div class="mt-5 mb-2">
                <img alt="Материнская плата" src="~/static-pic/pc-parts/motherboard.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Материнские платы</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "Ram"})">
            <div class="mt-5 mb-2">
                <img alt="Оперативная память" src="~/static-pic/pc-parts/ram.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Оперативная память</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "Psu"})">
            <div class="mt-5 mb-2">
                <img alt="Блок питания" src="~/static-pic/pc-parts/power-supply.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Блоки питания</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "Case"})">
            <div class="mt-5 mb-2">
                <img alt="Корпус" src="~/static-pic/pc-parts/pc-case.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Корпуса</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "HDD"})">
            <div class="mt-5 mb-2">
                <img alt="Жесткий диск" src="~/static-pic/pc-parts/hdd.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Жесткие диски</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "SDD"})">
            <div class="mt-5 mb-2">
                <img alt="SSD" src="~/static-pic/pc-parts/ssd.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">SSD накопители</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "Cooler"})">
            <div class="mt-5 mb-2">
                <img alt="Кулер" src="~/static-pic/pc-parts/cooling-fan.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Кулеры</h5>
            </div>
        </a>
        <a class="border border-4 rounded border-dark d-flex flex-column justify-content-center align-items-center fit category mx-auto position-relative" tabindex="1" href="@Url.Action("AddProduct", new {category = "Fan"})">
            <div class="mt-5 mb-2">
                <img alt="Кулер" src="~/static-pic/pc-parts/cooling-fan.svg" class="mx-auto"/>
                <h5 class="mt-2 text-center">Вентиляторы</h5>
            </div>
        </a>
    </div>
</div>